.panel-group#accordian
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-toggle"=>"collapse", "data-parent"=>"#accordion", "href"=>"#collapse4"} Available Players
    #collapse4.panel-collapse.collapse
      .panel-body
        %span.draftables-admin-container
          -@draftables.each do |r|
            %div{:player_id => r.id}
              .col-md-1.draft
                %a.draft-me{:player_id => r.id} Draft
              .col-md-5.pname #{r.pname}
              .col-md-6.pposition #{r.position}
