.panel-group#accordian
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-toggle"=>"collapse", "data-parent"=>"#accordion", "href"=>"#collapse4"} Available Players
    #collapse4.panel-collapse.collapse
      .panel-body
        .col-md-3.position-links
          -@positions.each do |p|
            %p
              %a.position{:position => p} #{p}
        .col-md-9.position-results
