.panel-group#accordian
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-toggle"=>"collapse", "data-parent"=>"#accordion", "href"=>"#collapse4"} Available Players
    #collapse4.panel-collapse.collapse
      .panel-body
        %table.available-players
          -@draftables.each do |r|
            %tr.player{:player_id => r.id}
              %td.pname #{r.pname}
              %td.pposition #{r.position}

