-if @draft_status == 'open'
  #pick-dashboard
    %h3 Draft Command Center

    = render :partial => 'shared/realtime'
    = render :partial => 'shared/admin_players'

-elsif @draft_status == 'completed'
  = render :partial => 'shared/draft_final'
-else
  %h4 Draft data has not been loaded

