-if @draft_open
  #pick-dashboard
    %h3 Draft Command Center

    %div.rtest
      = render :partial => 'shared/realtime'
    = render :partial => 'shared/admin_players'

-else
  %h4 Draft not active

